$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: (
  //primary: #b3e3ff,
        primary: #ff6600,
        secondary: #a2db90,
        lightprimary:    #B5B5B7,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,
        darklight: #3f4041,
        bluecolor: #87e4ff,
        energy: #f2b632
);

$toolbar-background: color($colors, primary);

@import "ionic.theme.default";

//To Toobar
$toolbar-ios-background: color($colors, primary);
$toolbar-md-background: color($colors, primary);
$toolbar-wp-background: color($colors, primary);

//$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, dark);


ion-card-header {
  background-color: color($colors, secondary);
}

$sidemnu_top: #ff6600;
$sidemenu_bottom: #ff9068;
$primary_color: #b3e3ff;

$text-input-placeholder-color: #fff;



@import "ionic.ionicons";


// Fonts
@import "roboto";
@import "noto-sans";
