page-welcome {

  #image--background {
    background-size: cover;
    background-image: url("../../assets/imgs/stllogo.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
  }
  .content {
    //align-self: flex-end;
  }
    //button{
    //  align-self: flex-end;
    //
    //

    //#text{
    //  height: 10%;
    //}
    //h3{
    //
    //}


  .backgroundcolor{
    background-color: color($colors, bluecolor);
  }



}
